.window{
    position: absolute;
    width: 70vw;
    background-color: white;
    height: auto;
    top: 50%;
    left: 50%;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 20px;
    border-radius: 10px;
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.close{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

.overlay{
    background: rgba(49, 49, 49, 0.8);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done{
    display: block;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

