:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #ffffff;
  --bg-accent: #baa6a6;
  --bg-input: #ECF3FF;
  --bg-button: blue;
  --breakline-color: lightgrey;
  --bg-hover-button: rgb(81, 81, 250);
  --button-text-color: #FFFFFF;
  --input-error-shadow: rgba(210, 61, 61, 0.7);
  --input-border: #b8c3d6;
  --input-border-error: red;
  --input-shadow: rgba(52, 41, 164, 0.7);
  --text-color: #000000;
  --header-size: 60px;
  --shadow-color: #000000;
  --border-radius: 8px;
  --speed: 500ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  background-color: lightblue;
}